<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		<h2>Goalie Stats</h2>
		</div>
		<div class="col-md-9">
		<div ng-include="'app/templates/google_ads_script.html'"></div>
		</div>
	</div>
	
	
	<filter-menu toi="TOIMin" season="season" situation="situation">
	</filter-menu>

	<div class="row">
		<div class="col-sm-12">
			<span ng-show="loading">
				<span ng-include="'app/templates/loading_spinner.html'"></span>
			</span>
			
			<span ng-hide="loading">
				<button ng-click="toggleTableFilters()"
					class="btn btn-default pull-right grey-bg">
						<i class="glyphicon" ng-class=" showFilters ? 'glyphicon-minus' : 'glyphicon-plus' "></i>
						<span ng-if="showFilters">Hide </span>
						<span ng-if="!showFilters">Show </span>
						Data Filters
				</button>
				<span class="pull-right" style="margin-right: 1em;">
					<copy-url></copy-url>
				</span>
				<span ng-include="'app/goalies/goalie_stats_table.html'"></span>
			</span>

			<span ng-if="error_message">
				<div class="row text-center">
					<h2>{{ error_message }}</h2>
				</div>
			</span>
			
		</div>
	</div>
</div>
	
