<div class="container-fluid">
	<h2>Goalie Stats</h2>

	<filter-menu toi="TOIMin" season="season" situation="situation">
	</filter-menu>
	
	<div class="row">
		<div class="col-sm-12">
			<span ng-show="loading">
				<span ng-include="'apps/app.loading_spinner.html'"></span>
			</span>
			
			<span ng-hide="loading">
				<button ng-click="toggleTableFilters()"
					class="btn btn-default pull-right grey-bg">
						<i class="glyphicon" ng-class=" showFilters ? 'glyphicon-minus' : 'glyphicon-plus' "></i>
						<span ng-if="showFilters">Hide </span>
						<span ng-if="!showFilters">Show </span>
						Data Filters
				</button>
				<table class="table table-bordered table-striped table-condensed table-hover">
					<thead>
					<tr ng-hide="showFilters==false" class="grey-bg">
						<th>Rank</th>
						<th>Select</th>
						<th>Player Name</th>
						<th>Team</th>
						<th>Pos</th>
						<!-- <th ng-repeat="metric in metrics">
							{{ metric }}
						</th> -->
						<th class="text-right">GP</th>
						<th class="text-right">TOI</th>
						<th class="text-right">GA</th>
						<th class="text-right">SA</th>
						<th class="text-right">FA</th>
						<th class="text-right">CA</th>
						<th class="text-right">GA60</th>
						<th class="text-right">SA60</th>
						<th class="text-right">FA60</th>
						<th class="text-right">CA60</th>
						<th class="text-right">Sv%</th>
						<th class="text-right">FSv%</th>
						<th class="text-right">CSv%</th>
					</tr>
					
					<tr ng-hide="showFilters==false" class="grey-bg">
						<td></td>
						<td>Filter: <input type="checkbox" ng-model="checkboxFilterOn"></td>
						<td><input size=20 ng-model="player_name"></td>
						<td><input size=12 ng-model="team"></td>
						<td><input size=3 ng-model="position"></td>
						<td  align="right">
							<input size=5 ng-model="GPMin"><br>
							to<br>
							<input size=5 ng-model="GPMax"><br>
						</td>
						<td  align="right">
							<input size=5 ng-model="TOIMin"><br>
							to<br>
							<input size=5 ng-model="TOIMax"><br>
						</td>

						<td align="right">
							<input size=5 ng-model="GAMin"><br>
							to<br>
							<input size=5 ng-model="GAMax"><br>
						</td>
						<td align="right">
							<input size=5 ng-model="SAMin"><br>
							to<br>
							<input size=5 ng-model="SAMax"><br>
						</td>
						<td align="right">
							<input size=5 ng-model="FAMin"><br>
							to<br>
							<input size=5 ng-model="FAMax"><br>
						</td>
						<td align="right">
							<input size=5 ng-model="CAMin"><br>
							to<br>
							<input size=5 ng-model="CAMax"><br>
						</td>
						
						<td align="right">
							<input size=5 ng-model="GA60Min"><br>
							to<br>
							<input size=5 ng-model="GA60Max"><br>
						</td>
						<td align="right">
							<input size=5 ng-model="SA60Min"><br>
							to<br>
							<input size=5 ng-model="SA60Max"><br>
						</td>
						<td align="right">
							<input size=5 ng-model="FA60Min"><br>
							to<br>
							<input size=5 ng-model="FA60Max"><br>
						</td>
						<td align="right">
							<input size=5 ng-model="CA60Min"><br>
							to<br>
							<input size=5 ng-model="CA60Max"><br>
						</td>
						
						<td align="right">
							<input size=5 ng-model="SvPctMin"><br>
							to<br>
							<input size=5 ng-model="SvPctMax"><br>
						</td>
						<td align="right">
							<input size=5 ng-model="FSvPctMin"><br>
							to<br>
							<input size=5 ng-model="FSvPctMax"><br>
						</td>
						<td align="right">
							<input size=5 ng-model="CSvPctMin"><br>
							to<br>
							<input size=5 ng-model="CSvPctMax"><br>
						</td>		
					</tr>

					<tr></tr>
					<tr class="grey-bg">
						<th>Rank</th>
						<th ng-hide="showFilters==false">Select</th>
						
						<th><a href="" ng-click="orderByField=['Last_Name','First_Name']; reverseSort = !reverseSort">
						Player_Name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						</a></th>

						<th><a href="" ng-click="orderByField='Team'; reverseSort = !reverseSort">
						Team&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						</a></th>

						<th><a href="" ng-click="orderByField='Pos'; reverseSort = !reverseSort">
						Pos
						</a></th>

						<th class="text-right"><a href="" ng-click="orderByField='GP'; reverseSort = !reverseSort">
						GP
						</a></th>
						
						<th class="text-right"><a href="" ng-click="orderByField='TOIDec'; reverseSort = !reverseSort">
						TOI
						</a></th>
						
						<th class="text-right"><a href="" ng-click="orderByField='GA'; reverseSort = !reverseSort">
						GA
						</a></th>
						<th class="text-right"><a href="" ng-click="orderByField='SA'; reverseSort = !reverseSort">
						SA
						</a></th>
						<th class="text-right"><a href="" ng-click="orderByField='FA'; reverseSort = !reverseSort">
						FA
						</a></th>
						<th class="text-right"><a href="" ng-click="orderByField='CA'; reverseSort = !reverseSort">
						CA
						</a></th>
						
						<th class="text-right"><a href="" ng-click="orderByField='GA60'; reverseSort = !reverseSort">
						GA60
						</a></th>
						<th class="text-right"><a href="" ng-click="orderByField='SA60'; reverseSort = !reverseSort">
						SA60
						</a></th>
						<th class="text-right"><a href="" ng-click="orderByField='FA60'; reverseSort = !reverseSort">
						FA60
						</a></th>
						<th class="text-right"><a href="" ng-click="orderByField='CA60'; reverseSort = !reverseSort">
						CA60
						</a></th>

						<th class="text-right"><a href="" ng-click="orderByField='SvPct'; reverseSort = !reverseSort">
						Sv%
						</a></th>
						<th class="text-right"><a href="" ng-click="orderByField='FSvPct'; reverseSort = !reverseSort">
						FSv%
						</a></th>
						<th class="text-right"><a href="" ng-click="orderByField='CSvPct'; reverseSort = !reverseSort">
						CSv%
						</a></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="player in playerdata |orderBy:orderByField:reverseSort | filter:{Player_Name: player_name, Team: team, Pos: position } | filter:tableFilter" >
						<td>{{$index +1}}</td>
						<td ng-hide="showFilters==false">
							<input type="checkbox" ng-model="player.checkboxFilter">
						</td>
						<td align="left">
							<a ng-href="players/#!/?pid={{player.PID}}" 
								target="puckalyticsplayer">
								{{player.Player_Name}}
							</a>
						</td>
						<td align="left" ng-class="orderByField=='Team' ? 'bold-text' :''">
							{{player.Team}}
						</td>
						<td align="right" ng-class="orderByField=='Pos' ? 'bold-text' :''">
							{{player.Pos}}
						</td>
						<td align="right" ng-class="orderByField=='GP' ? 'bold-text' :''">
							{{player.GP}}
						</td>
						<td align="right" ng-class="orderByField=='TOIDec' ? 'bold-text' :''">
							{{player.TOI}}
						</td>
						<td align="right" ng-class="orderByField=='GA' ? 'bold-text' :''">
							{{player.GA}}
						</td>
						<td align="right" ng-class="orderByField=='SA' ? 'bold-text' :''">
							{{player.SA}}
						</td>
						<td align="right" ng-class="orderByField=='FA' ? 'bold-text' :''">
							{{player.FA}}
						</td>
						<td align="right" ng-class="orderByField=='CA' ? 'bold-text' :''">
							{{player.CA}}
						</td>
						<td align="right" ng-class="orderByField=='GA60' ? 'bold-text' :''">
							{{player.GA60 | number:2 }}
						</td>
						<td align="right" ng-class="orderByField=='SA60' ? 'bold-text' :''">
							{{player.SA60 | number:2 }}
						</td>
						<td align="right" ng-class="orderByField=='FA60' ? 'bold-text' :''">
							{{player.FA60 | number:2 }}
						</td>
						<td align="right" ng-class="orderByField=='CA60' ? 'bold-text' :''">
							{{player.CA60 | number:2 }}
						</td>
						<td align="right" ng-class="orderByField=='SvPct' ? 'bold-text' :''">
							{{player.SvPct | number:2 }}
						</td>
						<td align="right" ng-class="orderByField=='FSvPct' ? 'bold-text' :''">
							{{player.FSvPct | number:2 }}
						</td>
						<td align="right" ng-class="orderByField=='CSvPct' ? 'bold-text' :''">
							{{player.CSvPct | number:2 }}
						</td>
					</tr>
					</tbody>
				</table>
			</span>

			<span ng-if="error_message">
				<div class="row text-center">
					<h2>{{ error_message }}</h2>
				</div>
			</span>
			
		</div>
	</div>
</div>
	
