<div class="row">
	<div class="col-sm-12">
		<h4>Chart any Metric 
			<span ng-if=" metric.length <= 1">
				like <code>GA</code> or <code>CA60</code>.
			</span>
			<span ng-if=" metric.length > 1">
				, like current: <code>{{metric}}</code>.
			</span>
		</h4>
		<div class="input-group">
			<input type="text" class="form-control" 
				ng-model="metric"
				placeholder="Metric...">

				<span class="dropdown pull-right" dropdown>
					<a href="" class="dropdown-toggle" dropdown-toggle>
						Chart Options
					</a>
					<ul class="dropdown-menu" dropdown-menu>
						<li ng-repeat="met in metrics"> 
							<a ng-click="setMetricFromListClick($event, met)">
								{{ met }}
							</a>
						</li>
					</ul>
				</span>
		</div>
	</div>
	
	<div class="col-sm-12" id="bar-chart-container">
		<div id="bar-chart" style="margin-top: 1em;"></div>
	</div>
	<!-- <div class="col-sm-12" id="bar-chart-footer">
		<p>Some footer text with params: {{ season }}, {{TOI}}, {{situation}}</p>
	</div> -->
</div>