<div ng-hide="chart_options">
	<a class="btn btn-info pull-right"
		ng-click="toggleChartOptions()">
			Show Chart Options
	</a>
</div>
<div class="row" ng-show="chart_options">
	<div class="col-sm-12" ng-show="ask_to_draw || chart_options">
		<a class="btn btn-info pull-right"
			ng-click="toggleChartOptions()">
				<span class="glyphicon glyphicon-remove"></span>
		</a>
		<div class="alert alert-info" role="alert">
			<h3 style="cursor: pointer;">
				<a class="btn btn-default" 
					style="font-size: 0.8em;" 
					ng-click="showChart()">
					<span class="glyphicon glyphicon-sort-by-attributes-alt" 
						style="margin-right:1em;">
					</span>
						Chart 
						<span ng-show="pending_metric">
							<code>{{ pending_metric }}</code>
						</span>
				</a> 
				<span ng-hide="pending_metric">
					<input type="text" size=10 ng-model="metric" placeholder="metric">
				</span>
				 with 
				 <input type="text" ng-model="chart_length" size=5> 
				 of {{ $parent.filtereddata.length }} {{section_name}} 

				<span class="dropdown" dropdown>
					<a href="" class="dropdown-toggle" dropdown-toggle>
						<span ng-show="!metric">
							select Metric
						</span>
						<span>
							{{ metric }}
						</span>
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
					<ul class="dropdown-menu" dropdown-menu>
						<li ng-repeat="met in metrics"> 
							<a ng-click="setMetricFromListClick($event, met)">
								{{ met }}
							</a>
						</li>
					</ul>
				</span>
			</h3>
		</div> <!-- END ALERT -->
	</div>
	<div class="col-sm-12" id="bar-chart-container">
		
		<div id="bar-chart" style="margin-top: 1em;"></div>
		
		<footer class="pull-right" ng-show="metric">
			Charting <code>{{metric}}</code> at <code>{{$parent.situation}}</code> during <code>{{ $parent.season }} </code> given TOI <code>>{{$parent.TOIMin}}</code> minutes via <strong>puckalytics.com</strong>
		</footer>
	</div>	
</div>
