/* app css stylesheet */
// BOX AND WHISKER 
.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

#skater-button button {
	margin-right: 0.33em; 
}

.grey-bg {
	background-color: #CCC;
}
.bold-text {
	font-weight: bold;
}

td {
    padding: 3px !important;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f0f0f0;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #cccccc !important;
}


.glyphicon-refresh-animate {
	color: #007196;
	-animation: spin 1.25s infinite linear;
	-webkit-animation: spin2 1.25s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}