
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>2016 Stanley Cup Playoffs</h3>
    </div>
    <div class="panel-body">
	    <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title">
		            Links
		        </h3>
		    </div>
		    <div class="panel-body">
		        <ul>
				    <li ng-repeat="link in links">
				        <a href="{{ link.href }}">
				            {{ link.title }}
				        </a>
				    </li>
				</ul>
		    </div>
		</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <span ng-show="loading">
            <h2>
                Excluding the {{ non_playoff_teams.length }} non-playoff duds:
            </h2>
            <span ng-repeat="team in non_playoff_teams">
                {{ team }},
            </span>
        </span>
        <span ng-hide="loading">
            <h2>
                {{ playoff_teams.length }} possible Playoff Teams
            </h2>
            <span ng-repeat="team in playoff_teams track by $index">
                {{ team }}
            </span>
        </span>
    </div>
</div>
<div class="row">
    Injuries:
    <ul>
        <li>
            Rangers MacD
        </li>
        <li>
            WASH Backy?
        </li>
        <li>
            Pitt Malkin, Maatta, Matt Murray replacing Fleury
        </li>
        <li>
            Tampa Bay: Stralman, Stamkos (less sever Hedman, Callahan
        </li>
        <li>
        </li>
    </ul>
</div>