<h2>Playoffs</h2>

<h4>Links</h4>
<ul>
	<li ng-repeat="link in links">
		<a href="{{ link.href }}">
			{{ link.title }}
		</a>
	</li>
</ul>

<div class="row">
	<span ng-show="loading">
		Loading ...
		Excluding the duds: 
		<p>
			<span ng-repeat="team in non_playoff_teams">
				{{ team }}, 
			</span>
		</p>
	</span>
	<span ng-hide="loading">
		<h3>Playoff Teams</h3>
		<ul ng-repeat="team in playoff_teams">
			<li>
				
			</li>
		</ul>
		
	</span>
	
</div>

<div class="row">
	Injuries: 
	<ul>
		<li>Rangers MacD</li>
		<li>WASH Backy?</li>
		<li>Pitt Malkin, Maatta, Matt Murray replacing Fleury</li>
		<li>Tampa Bay: Stralman, Stamkos (less sever Hedman, Callahan</li>
		<li></li>
	</ul>
</div>