<div class="container-fluid">
	<h2>Team Stats</h2>
	
	<filter-menu toi="TOIMin" season="season" situation="situation">
	</filter-menu>

	<div class="row">
		<div class="col-sm-12">

			<span ng-show="loading">
				<span ng-include="'app/templates/loading_spinner.html'"></span>
			</span>
			
			<span ng-hide="loading">
				<button ng-click="toggleTableFilters()"
					class="btn btn-default pull-right grey-bg">
						<!-- <i class="glyphicon" ng-class=" showFilters ? 'glyphicon-minus' : 'glyphicon-plus' "></i> -->
						<span ng-show="showFilters">Hide </span>
						<span ng-hide="showFilters">Show </span>
						Data Filters
				</button>
				
				<div class="btn-group" data-toggle="buttons">
				    <label class="btn btn-primary"
				    	ng-class="displayGoals ? 'active' : '' ">
				        <input type="checkbox" autocomplete="off" 
				        	ng-model="displayGoals"> Goal
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayShots ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayShots"> Shot
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayFenwick ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayFenwick"> Fenwick
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayCorsi ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayCorsi"> Corsi
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayZoneStarts ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayZoneStarts"> Zones
				    </label>
				</div>
				<!-- <span ng-include="'app/teams/team_stats_table.html'"></span> -->

				<table class="table table-bordered table-striped table-condensed table-hover">
				<thead>
				<tr class="grey-bg">
					<th>Rank</th>
					<th ng-show="showFilters">Select</th>
					<th>
						<a ng-click="setOrderByField( 'teamname' )">Team</a>
					</th>
					<th class="text-right">
						<a ng-click="setOrderByField( 'TOIDec' )">TOI</a>
					</th>
					<th class="text-right">
						<a ng-click="setOrderByField( 'GP' )">GP</a>
					</th>
					<th ng-repeat="metric in ::metrics track by $index"
						ng-show="{{::metric.filter}}"
						class="text-right">
						<a href="" 
							ng-click="setOrderByField( metric.metric )">
								{{ ::metric.metric }}
						</a>
					</th>
				</tr>

				<tr ng-show="showFilters" class="grey-bg">
					<td></td>
					<td>Filter: <input type="checkbox" ng-model="checkboxFilterOn"></td>
					<td> 
						<input size=12 type="text" placeholder="Team" ng-model="teamname">
					</td>
					<td align="right">
						<input size=5 ng-model="filter_inputs.TOIMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.TOIMax"><br>
					</td>

					<td align="right">
						<input size=5 ng-model="filter_inputs.GPMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.GPMax"><br>
					</td>

					<td ng-hide="displayGoals==false"  align="right">
						<input size=5 ng-model="filter_inputs.GFMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.GFMax"><br>
					</td>
					<td ng-hide="displayGoals==false"  align="right">
						<input size=5 ng-model="filter_inputs.GAMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.GAMax"><br>
					</td>
					<td ng-hide="displayGoals==false"  align="right">
						<input size=5 ng-model="filter_inputs.GF60Min"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.GF60Max"><br>
					</td>
					<td ng-hide="displayGoals==false"  align="right">
						<input size=5 ng-model="filter_inputs.GA60Min"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.GA60Max"><br>
					</td>
					<td ng-hide="displayGoals==false"  align="right">
						<input size=5 ng-model="filter_inputs.GFPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.GFPctMax"><br>
					</td>

					
					<td ng-hide="displayShots==false"  align="right">
						<input size=5 ng-model="filter_inputs.SFMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.SFMax"><br>
					</td>
					<td ng-hide="displayShots==false"  align="right">
						<input size=5 ng-model="filter_inputs.SAMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.SAMax"><br>
					</td>
					<td ng-hide="displayShots==false"  align="right">
						<input size=5 ng-model="filter_inputs.SF60Min"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.SF60Max"><br>
					</td>
					<td ng-hide="displayShots==false"  align="right">
						<input size=5 ng-model="filter_inputs.SA60Min"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.SA60Max"><br>
					</td>
					<td ng-hide="displayShots==false"  align="right">
						<input size=5 ng-model="filter_inputs.SFPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.SFPctMax"><br>
					</td>

					
					<td ng-hide="displayFenwick==false"  align="right">
						<input size=5 ng-model="filter_inputs.FFMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.FFMax"><br>
					</td>
					<td ng-hide="displayFenwick==false"  align="right">
						<input size=5 ng-model="filter_inputs.FAMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.FAMax"><br>
					</td>
					<td ng-hide="displayFenwick==false"  align="right">
						<input size=5 ng-model="filter_inputs.FF60Min"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.FF60Max"><br>
					</td>
					<td ng-hide="displayFenwick==false"  align="right">
						<input size=5 ng-model="filter_inputs.FA60Min"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.FA60Max"><br>
					</td>
					<td ng-hide="displayFenwick==false"  align="right">
						<input size=5 ng-model="filter_inputs.FFPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.FFPctMax"><br>
					</td>
					
					
					<td ng-hide="displayCorsi==false"  align="right">
						<input size=5 ng-model="filter_inputs.CFMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.CFMax"><br>
					</td>
					<td ng-hide="displayCorsi==false"  align="right">
						<input size=5 ng-model="filter_inputs.CAMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.CAMax"><br>
					</td>
					<td ng-hide="displayCorsi==false"  align="right">
						<input size=5 ng-model="filter_inputs.CF60Min"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.CF60Max"><br>
					</td>
					<td ng-hide="displayCorsi==false"  align="right">
						<input size=5 ng-model="filter_inputs.CA60Min"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.CA60Max"><br>
					</td>
					<td ng-hide="displayCorsi==false"  align="right">
						<input size=5 ng-model="filter_inputs.CFPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.CFPctMax"><br>
					</td>
					
					<td ng-hide="(displayShots==false && displayGoals==false) || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.SHPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.SHPctMax"><br>
					</td>
					<td ng-hide="(displayShots==false && displayGoals==false) || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.SVPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.SVPctMax"><br>
					</td>
					<td ng-hide="(displayShots==false && displayGoals==false) || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.PDOMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.PDOMax"><br>
					</td>

					<td ng-hide="displayFenwick==false || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.FSHPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.FSHPctMax"><br>
					</td>
					<td ng-hide="displayFenwick==false || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.FSVPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.FSVPctMax"><br>
					</td>
					<td ng-hide="displayFenwick==false || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.FPDOMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.FPDOMax"><br>
					</td>

					<td ng-hide="displayCorsi==false || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.CSHPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.CSHPctMax"><br>
					</td>
					<td ng-hide="displayCorsi==false || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.CSVPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.CSVPctMax"><br>
					</td>
					<td ng-hide="displayCorsi==false || displayPcts==false"  align="right">
						<input size=5 ng-model="filter_inputs.CPDOMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.CPDOMax"><br>
					</td>
					
					<td ng-hide="displayZoneStarts==false"  align="right">
						<input size=5 ng-model="filter_inputs.NZPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.NZPctMax"><br>
					</td>									
					<td ng-hide="displayZoneStarts==false"  align="right">
						<input size=5 ng-model="filter_inputs.DZPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.DZPctMax"><br>
					</td>									
					<td ng-hide="displayZoneStarts==false"  align="right">
						<input size=5 ng-model="filter_inputs.OZPctMin"><br>
						to<br>
						<input size=5 ng-model="filter_inputs.OZPctMax"><br>
					</td>									
				</tr>

				<!-- <tr></tr> -->
				</thead>
				<tbody>
				<tr ng-repeat="team in ::team_data | orderBy:orderByField:reverseSort | filter: { teamname: teamname, TOIDec : TOIDec , GP : GP } | filter:tableFilter" >
					<td>{{$index +1}}</td>
					<td ng-show="showFilters">
						<input type="checkbox" ng-model="team.checkboxFilter">
					</td>
					<td ng-class="orderByField=='teamname' ? 'bold-text' : '' ">
						{{ ::team.teamname }}
					</td>
					<td align="right" ng-class="orderByField=='TOIDec' ? 'bold-text' :''">
						{{team.TOIDec | number:0 }}
					</td>
					<td align="right" ng-class="orderByField=='GP' ? 'bold-text' :''">
						{{team.GP }}
					</td>
					<!-- new repeater -->
					<td ng-repeat="metric in ::metrics track by $index"
						ng-class="orderByField=='{{::metric.metric}}' ? 'bold-text' :''"
						ng-show="{{::metric.filter}}"
						class="text-right">{{ ::team[metric.metric] | number: metric.decimal }}</td>
					<!-- end new repeater -->
				</tr>
				</tbody>
			</table>
			</span>

			<span ng-if="error_message">
				<div class="row text-center">
					<h2>{{ error_message }}</h2>
				</div>
			</span>

		</div>
	</div>
</div>