<div class="container-fluid">

	<div class="row">
		<div class="col-md-3">
			<h2>
				Teams Stats
				<span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> 
			</h2>
			</div>
		<div class="col-md-9">
			<div ng-include="'app/templates/google_ads_script.html'"></div>
		</div>
	</div>
	
	<filter-menu toi="TOIMin" season="season" situation="situation">
	</filter-menu>

	<scatter-plot data=team_data>
	</scatter-plot>

	<!-- <bar-chart data=team_data>
	</bar-chart> -->


	<div class="row">
		<div class="col-sm-12">

			
			
			<span ng-hide="loading">
				<button ng-click="toggleTableFilters()"
					class="btn btn-default pull-right grey-bg" style="margin-left: 1em;">
						<!-- <i class="glyphicon" ng-class=" showFilters ? 'glyphicon-minus' : 'glyphicon-plus' "></i> -->
						<span ng-show="showFilters">Hide </span>
						<span ng-hide="showFilters">Show </span>
						Data Filters
				</button>
				<button ng-click="downloadCSV('PuckalyticsTeamStats.csv',search.teamname)"
					class="btn btn-default pull-right grey-bg" style="margin-left: 1em;">
						Download Table as .csv
				</button>
				<span class="pull-right" style="margin-left: 1em;">
					<copy-url></copy-url>
				</span>
				
				<div class="btn-group" data-toggle="buttons">
				    <label class="btn btn-primary"
				    	ng-class="displayGoals ? 'active' : '' ">
				        <input type="checkbox" autocomplete="off" 
				        	ng-model="displayGoals"> Goal
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayShots ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayShots"> Shot
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayFenwick ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayFenwick"> Fenwick
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayCorsi ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayCorsi"> Corsi
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayZoneStarts ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayZoneStarts"> Zones
				    </label>
				</div>
				<span ng-include="'app/teams/team_stats_table.html'"></span>
			</span>

			<span ng-if="error_message">
				<div class="row text-center">
					<h2>{{ error_message }}</h2>
				</div>
			</span>
		</div>
	</div>
</div>