<div class="container-fluid">
	<h2>Skater Stats</h2>
	
	<filter-menu toi="TOIMin" season="season" situation="situation">
	</filter-menu>

	<div class="row">
		<div class="col-sm-12">

			<span ng-show="loading">
				<span ng-include="'app/templates/loading_spinner.html'"></span>
			</span>
			
			<span ng-hide="loading">
				<button ng-click="toggleTableFilters()"
					class="btn btn-default pull-right grey-bg">
						<span ng-show="showFilters">Hide </span>
						<span ng-hide="showFilters">Show </span>
						Data Filters
				</button>
				
				<div class="btn-group" data-toggle="buttons">
					<button class="btn btn-primary"
						ng-repeat="section in section_options"
						ng-hide="section.name == 'info' "
						ng-class="{ 'active' : section.value }"
						ng-click="updateSections($event, section)">
							{{ section.name }}
					</button>
					<button class="btn btn-warning"
						ng-click="updateSections($event, { reset : true })">
							Reset
					</button>
				</div>
				
				<span ng-include="'app/skaters/skater_stats_table.html'"></span>
			</span>

			<span ng-if="error_message">
				<div class="row text-center">
					<h2>{{ error_message }}</h2>
				</div>
			</span>

		</div>
	</div>
</div>