<div class="container-fluid">
	<h2>Skater Stats</h2>
	<filter-menu toi="TOIMin" season="season" situation="situation">
	</filter-menu>

	<div class="row">
		<div class="col-sm-12">

			<span ng-show="loading">
				<span ng-include="'app/templates/loading_spinner.html'"></span>
			</span>
			<span ng-hide="loading">

				<bar-chart data=filtereddata>
				</bar-chart>
				
				<h4>Result: {{ filtereddata.length }} skaters</h4>

				
				<button ng-click="toggleTableFilters()"
					class="btn btn-default pull-right grey-bg">
						<span ng-show="showFilters">Hide </span>
						<span ng-hide="showFilters">Show </span>
						Data Filters
				</button>

				<span class="pull-right" style="margin-left: 1em;">
					<copy-url></copy-url>
				</span>
				
				<div class="btn-group" id="skater-button">
					<button type="button" ng-class="{'btn btn-success': displayFilter.displayGoals, 'btn btn-danger': !displayFilter.displayGoals}" ng-click="toggleStatDisplay('displayGoals')" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Goals</button>
					<button type="button" ng-class="{'btn btn-success': displayFilter.displayCorsi, 'btn btn-danger': !displayFilter.displayCorsi}" ng-click="toggleStatDisplay('displayCorsi')">Corsi</button>
					<button type="button" ng-class="{'btn btn-success': displayFilter.displayTM, 'btn btn-danger': !displayFilter.displayTM}" ng-click="toggleStatDisplay('displayTM')">TM Stats</button>
					<button type="button" ng-class="{'btn btn-success': displayFilter.displayRelTM, 'btn btn-danger': !displayFilter.displayRelTM}" ng-click="toggleStatDisplay('displayRelTM')">RelTM</button>
					<button type="button" ng-class="{'btn btn-success': displayFilter.displayOpp, 'btn btn-danger': !displayFilter.displayOpp}" ng-click="toggleStatDisplay('displayOpp')">Opp Stats</button>
					<button type="button" ng-class="{'btn btn-success': displayFilter.displayIndividual, 'btn btn-danger': !displayFilter.displayIndividual}" ng-click="toggleStatDisplay('displayIndividual')">Individual</button>
					<button type="button" ng-class="{'btn btn-success': displayFilter.displayTeamPct, 'btn btn-danger': !displayFilter.displayTeamPct}" ng-click="toggleStatDisplay('displayTeamPct')">%ofTeam</button>
					<button type="button" ng-class="{'btn btn-success': displayFilter.displayZoneStarts, 'btn btn-danger': !displayFilter.displayZoneStarts}" ng-click="toggleStatDisplay('displayZoneStarts')">Zone Starts</button>
				</div>
		
				<span ng-include="'app/skaters/skater_stats_table.html'"></span>

				<span ng-hide="showingAllData" >
					<div>
						# of Table Rows: <input type="text" 
							ng-model="pageSize" 
							placeholder="pageSize" 
							size=5> 
					</div>
					<div>
						<button class="btn btn-default"
							style="margin-right: 0.25em" 
							ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" 
							ng-click="setCurrentPage($index)">
								{{$index + 1}}
						</button>
						<button class="btn btn-default" 
							ng-hide="showingAllData" 
							ng-click="showAllData($index)">
								Show All {{ filtereddata.length }}
						</button>
					</div>
				</span>
				<button class="btn btn-default" 
					ng-show="showingAllData" 
					ng-click="paginateData($index)">
						Paginate
				</button>
			</span> <!-- show if loaded  -->
			

			<span ng-if="error_message">
				<div class="row text-center">
					<h2>{{ error_message }}</h2>
				</div>
			</span>

		</div>
	</div>
	<br>
</div>