<div class="container-fluid">
	<h2>Skater Stats</h2>
	
	<filter-menu toi="TOIMin" season="season" situation="situation">
	</filter-menu>

	<div class="row">
		<div class="col-sm-12">

			<span ng-show="loading">
				<span ng-include="'app/templates/loading_spinner.html'"></span>
			</span>
			
			<span ng-hide="loading">
				<button ng-click="toggleTableFilters()"
					class="btn btn-default pull-right grey-bg">
						<span ng-show="showFilters">Hide </span>
						<span ng-hide="showFilters">Show </span>
						Data Filters
				</button>
				
				<div class="btn-group" data-toggle="buttons">
					<button class="btn btn-primary"
						ng-repeat="section in section_options"
						ng-class="{ 'active' : section.value }"
						ng-click="updateSections($event, section)">
							{{ section.name }}

					</button>
					<!-- <label class="btn btn-primary"
				    	ng-click="updateSections()">
				        <input type="checkbox" autocomplete="off" 
				        	ng-model="section_options.goals.value"> Goal
				    </label>
				    <label class="btn btn-primary"
				    	ng-class="section_options.goals.value ? 'active' : '' ">
				        <input type="checkbox" autocomplete="off" 
				        	ng-model="section_options.goals.value"> Goal
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayShots ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayShots"> Shots
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayFenwick ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayFenwick"> Fenwick
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayCorsi ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayCorsi"> Corsi
				    </label>
				    <label class="btn btn-primary" 
				    	ng-class="displayZoneStarts ? 'active' : '' ">
					        <input type="checkbox" autocomplete="off" 
					        	ng-model="displayZoneStarts"> Zones
				    </label> -->
				</div>
				
				<span ng-include="'app/skaters/skater_stats_table.html'"></span>
			</span>

			<span ng-if="error_message">
				<div class="row text-center">
					<h2>{{ error_message }}</h2>
				</div>
			</span>

		</div>
	</div>
</div>