<!DOCTYPE html>
<html class="no-js">
<head>
	<!-- Meta-Information -->
	<title>Puckalytics.com - Contact Information</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Puckalytics by HockeyAnalysis.com">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
	<script src="angularjs/angular.js"></script>
	<script src="angularjs/angular-route.min.js"></script>
	<script src="angularjs/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" href="css/yeti-bootstrap.min.css">

	<!-- Our Website CSS Styles -->
	<link rel="stylesheet" href="css/puckalytics.css">

	<!-- Our Website Javascripts -->
	<script src="apps/puckalyticsmainapp.js"></script>
</head>

<body ng-app="puckalyticsMainApp">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64695798-1', 'auto');
  ga('send', 'pageview');

</script>


<div class="container-fluid">

	<div ng-include='"foobar/pageheader.html"'></div>
	


<div class="container" >
	<h1>
		Contact
		<span class="pull-right">
			<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.24a8e21c9032b45e8d193d263743d845.en.html#dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=hockeyanalysis&amp;show_count=false&amp;show_screen_name=true&amp;size=l&amp;time=1453065305542" style="position: static; visibility: visible; width: 187px; height: 28px;" data-screen-name="hockeyanalysis"></iframe>
		</span>
	</h1>

	<h4>
		If you have any questions, comments, or suggestions feel free to contact Puckalytics owner and founder David Johnson aka <a href="https://twitter.com/hockeyanalysis">@hockeyanalysis</a>, david (at) hockeyanalysis.com.
		
	</h4>
	<h4>
		Also may contact Puckalytics developer Derek Braid aka <a href="https://twitter.com/Royal_Arse">@Royal_Arse</a>. 
	</h4>
	<p>
		You can <strong>contribute code</strong> via <a href="http://github.com/DeBraid/puck" target="_blank">GitHub</a>, or via <a href="https://www.gofundme.com/puckalytics" target="_blank">GoFundMe</a>.  Thank you for the support and feedback!
	</p>
 </div>

</div>
<br><br><br><br><br><br><br><br><br><bwr><br><br><br><br><br><br><br><br>



	<div ng-include='"templates/footer.html"'></div>
</div>	
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10040733; 
var sc_invisible=1; 
var sc_security="61a2eeeb"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="website
statistics" href="http://statcounter.com/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/10040733/0/61a2eeeb/1/"
alt="website statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
	
</body>
</html>