<div>    
    <form class="form-inline">
        <span ng-show="successful" class="glyphicon glyphicon-ok-sign"></span>
        <span ng-show="failure" class="glyphicon glyphicon-remove-sign"></span>

        <button clipboard 
            text="textToCopy"
            class="btn "
            ng-class="{'btn-success' : successful, 'btn-warning' : failed }"
            on-copied="success()" 
            on-error="fail(err)">
                {{ btn_text }}
        </button>        
    </form>
</div>
