
<footer>
<br><br><br>
<div class="container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Puckalytics.com Footer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5068178113874808"
     data-ad-slot="9447357690"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
If you use any stats from Puckalytics.com please be kind and reference Puckalytics.com as the source. Thank-you.
<div class="panel panel-default">
<div class="panel-body">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-4">Copyright 2014  Puckalytics.com, <a href="http://www.hockeyanalysis.com">HockeyAnalysis.com</a>
</div>
<div class="col-md-4">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="54E2K893QEYVJ">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
</div>
<div class="col-md-2">


</div>
</div>
</div>
</div>
</div>
</footer>

