<nav class="navbar navbar-inverse" role="navigation">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
      	<a class="navbar-brand" ui-sref="home">
      		Puckalytics 
      		<!-- by HockeyAnalysis.com -->
  		</a>
    </div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a ui-sref="skaters({ TOIMin : '200' })">Skater Stats</a></li>
			<li><a ui-sref="goalies({ TOIMin : '200' })">Goalie Stats</a></li>
			<li><a ui-sref="teams({ TOIMin : '100' })">Team Stats</a></li>
			<li><a ui-sref="playoffs">Playoffs</a></li>
			<!-- <li><a ui-sref="superwowy">Super WOWY</a></li> -->
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li><a ui-sref="glossary">Glossary</a></li>
			<li><a ui-sref="faq">FAQ</a></li>
			<li><a ui-sref="contact">Contact</a></li>
			<!-- <li><a href="http://www.hockeyanalysis.com" target="_blank">HockeyAnalysis.com</a></li> -->
		</ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div>
<strong>Note:</strong> Puckalytics 2.0 is under rapid development. You can contribute code via <a href="http://github.com/DeBraid/puck" target="_blank">GitHub</a>, or via <a href="https://www.gofundme.com/puckalytics" target="_blank">GoFundMe</a>. Please explore and <a ui-sref="contact">send feedback</a>, thank you for the support and comments!<br>
</div><br>
	
